/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f1f1f1;
    color: #000;
}


.imgLogoMenu {
    display: flex;
    justify-content: center;
    margin-top: 48px;  

}

.TextoPrincipal {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 60px;
    gap: 16px;
}

.ConectaPro {
    color: #0f5cc2;
}


.Input {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 34%;
    gap: 100px;
    margin-top: 100px;


}

.Email , .Senha {
    background-color: #f1f1f1;
    width: 400px;
    border-radius: 10px;
    height: 69px;
    width: 607px;
    font-size: 24px;
    padding-left: 16px;
}

.Senha {
    margin-bottom: 10px;
}

.Email::placeholder, .Senha::placeholder {
    opacity: 20%;
}

.SemConta {
    font-size: 20px;
    color: #2886ca;
    margin-left: 1100px;
    text-decoration: none;
}

.Button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.EntrarButton {
    height: 69px;
    width: 303px;
    border-radius: 20px;
    font-size: 36px;
    font-weight:700;
    margin-top: 72px;
    color: white;
    background-color: #0f5cc2;
    border: 1px solid black;
    cursor: pointer;
}

.EntrarButton  a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

/* Estilo do Modal */
.modal {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Fixa o modal na tela */
    z-index: 1000; /* Garantir que fique acima do conteúdo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com transparência */
    overflow: auto; /* Se necessário, permite o scroll */
    padding-top: 60px; /* Espaçamento do topo */
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Conteúdo do Modal */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

/* Cabeçalho do Modal */
.modal-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* Corpo do Modal */
.modal-body {
    text-align: center;
    margin: 20px 0;
}

/* Rodapé do Modal */
.modal-footer {
    display: flex;
    justify-content: space-evenly;
}

.modal-footer button {
    background-color: #0f5cc2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal-footer button:hover {
    background-color: #0c438b;
}

/* Botão de Fechar */
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    color: #aaa;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
