/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f1f1f1;
    color: #000;
    animation: slideIn 1s ease-out forwards;
}


.imgLogoMenu {
    display: flex;
    justify-content: center;
    margin-top: 48px;  

}

.TextoPrincipal {
   text-align: center;
    font-size: 30px;
    margin-top: 2%;
    gap: 16px;
}


.ConectaPro {
    color: #0f5cc2;
}


.Input {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 34%;
    gap: 28px;
    margin-top: 3%;


}

.Email , .Senha {
    background-color: #f1f1f1;
    width: 400px;
    border-radius: 10px;
    height: 69px;
    width: 607px;
    font-size: 24px;
    padding-left: 16px;
}


.Email::placeholder, .Senha::placeholder {
    opacity: 20%;
}


.Button {
    display: flex;
    justify-content: center;
}

.EntrarButton {
    height: 69px;
    width: 303px;
    border-radius: 20px;
    font-size: 36px;
    font-weight:700;
    margin-top: 18%;
    color: white;
    background-color: #0f5cc2;
    border: 1px solid black;
    cursor: pointer;
}

.EntrarButton  a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.SelecaoCliente {
    text-align: center;
    margin: 20px 0;
}

.SelecaoCliente button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0f5cc2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.SelecaoCliente button:hover {
    background-color: #084a97;
}

.formulario {
    text-align: center;
    margin: 20px auto;
    width: 50%;
}

.formulario h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.formulario form input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    height: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.formulario form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0f5cc2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
}

.formulario form button:hover {
    background-color: #084a97;
}
