/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f1f1f1;
    color: #000;
}


.imgLogoMenu {
    display: flex;
    justify-content: center;
    margin-top: 48px;  

}

.TextoPrincipal {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 60px;
    gap: 16px;
}

.ConectaPro {
    color: #0f5cc2;
}

.Input {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 40%;
    gap: 100px;
    margin-top: 100px;
}

.Email , .Senha {
    background-color: #f1f1f1;
    width: 400px;
}
