* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #f1f1f1;
    margin: 0px;
    padding: 0px;
    position: relative; /* Garante que os elementos absolutos dentro do body funcionem */
    font-family: "Inter", sans-serif;
}

nav {
    position: relative;
    margin-top: 20px;
}
 
h1 {
    cursor: context-menu;
}
h2 {
    cursor: context-menu;
}

.Setorneprofissional, .comofunciona, .entrar, .quemsomos {
    font-size: 20px;
    position: absolute;
    bottom: 120px;
    cursor: pointer;
    transition: transform 0.3s;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.Setorneprofissional {
    margin-left: 458px;
}

.comofunciona {
    margin-left: 764px;
}

.entrar {
    margin-left: 1008px;
}

.quemsomos {
    margin-left: 1148px;
}

.Setorneprofissional:hover, .comofunciona:hover, .entrar:hover, .quemsomos:hover {
    transform: translateY(-10px);
}

ul {
    display: flex;
    list-style: none;
    font-size: 54px;
    color: #0f5cc2;
    font-weight: 500;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
}

a {
    text-decoration: none;
    -webkit-text-fill-color: #0f5cc2;
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
}

nav ul li::after {
    content: "";
    width: 0%;
    height: 4px;
    background-color: #0f5cc2;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

nav ul li:hover {
    color: #0f5cc2;
    transition: 0.7s;
}

nav ul li:hover::after {
    width: 100%;
}

.iconeentrar {
    margin-left: 968px;
    bottom: 105px;
    cursor: pointer;
    transition: transform 2.0s;
    position: relative;
}

.iconeentrar:hover {
    transform: translateY(-10px);
}

.imglogomenu {
    width: 180px;
    height: 95px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.imglogomenu:hover {
    transform: scale(1.2) rotate(5deg);
}

.imglogocabecario {
    margin-left: 8vh;
    margin-top: 216px;
    position: absolute;
    width: 750px;
    height: auto;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.tdtpservico {
    color: black;
    font-family: "Inter", sans-serif;
    margin-left: 750px;
    margin-top: 356px;
    font-size: 40px;
    font-weight: 500;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 1s ease-out forwards;
    transition: transform 0.3s;
    cursor: context-menu;
}

.tdtpservico:hover {
    transform: translateY(-10px);
}

.emumsolugar {
    color: #0f5cc2;
    font-family: "Inter", sans-serif;
    margin-left: 856px;
    top: 408px;
    font-weight: 500;
    font-size: 40px;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 1s ease-out forwards;
    transition: transform 1s;
    cursor: context-menu;
}

.titulo1 {
    color: black;
    font-family: "Inter", sans-serif;
    top:  1016px;
    margin-left: 48px;
    position: absolute;
    font-weight: bold;
    font-size: 60px;
    cursor: context-menu;
}

.subtitulo1 {
    color: #9E9E9E;
    font-size: 30px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    top: 1248px;
    margin-left: 48px;
    position: absolute;
    cursor: context-menu;
}

.imgtitulo1 {
    height: auto;
    top: 1016px;
    margin-left: 740px;
    position: absolute;
}

.botaocadastrar {
    position: absolute;
    background-color: #0f5cc2;
    color: white;
    border: 3px solid #0f5cc2;
    top: 1380px;
    margin-left: 96px;
    border-radius: 20px;
    width: 377px;
    height: 76px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0c438b;
}

.titulo2 {
    position: absolute;
    top: 1840px;
    margin-left: 426px;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 600;
    cursor: context-menu;
}

/* Animação para deslizamento */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate {
    animation: fadeInUp 0.5s ease-out forwards;
}

.borda1 {
    position: absolute;
    border: 3px solid white;
    top: 1962px;
    background-color: white;
    margin-left: 48px;
    width: 400px;
    height: 426px;
    border-radius: 20px;
}

.imgcomputador {
    
    top: 1962px;
    margin-left: 0%;
    border-radius: 20px, 20px, 0px, 0px;
}

.txtbordas {
    text-align: center;
    margin-top: 13px;
}

.botaobordas {
    margin-top: 32px;
    margin-left: 121px;
    width: 173px;
    height: 36px;
    background-color: #0f5cc2;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    border: 3px solid #0f5cc2;
    font-weight: 500;
    cursor: pointer;
}

.borda2 {
    position: absolute;
    border: 3px solid white;
    top: 1962px;
    background-color: white;
    margin-left: 520px;
    width: 400px;
    height: 426px;
    border-radius: 20px;
}

.imgautomoveis {
    top: 1962px;
    margin-left: 0%;
    border-radius: 20px, 20px, 0px, 0px;
}




.borda3 {
    position: absolute;
    border: 3px solid white;
    top: 1962px;
    background-color: white;
    margin-left: 992px;
    width: 400px;
    height: 426px;
    border-radius: 20px;
}

.imgeletricas {
    
    top: 1962px;
    margin-left: 0%;
    border-radius: 20px, 20px, 0px, 0px;
}
.titulo3 {
    position: absolute;
    top: 2800px;
    margin-left: 48px;
    font-size: 82px;
}

.subtitulo2 {
    color: #9E9E9E;
    font-size: 30px;
    font-weight: 500;
    top: 3008px;
    margin-left: 48px;
    position: absolute;
    cursor: context-menu;
}
.botaosetorneprofissional {
    position: absolute;
    background-color: #0f5cc2;
    color: white;
    border: 3px solid #0f5cc2;
    top: 3164px;
    margin-left: 96px;
    border-radius: 20px;
    width: 377px;
    height: 76px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.imgtitulo3 {
    height: auto;
    top: 2800px;
    margin-left: 740px;
    position: absolute;
}

.bordainstaleoapp {
    border: 3px solid #0f5cc2;
    width: 100%;
    height: 654px;
    background-color: #0f5cc2 ;
    margin-top: 3200px;
    display: inline-block;
}

.bordainstaleoapp h1 {
    font-weight: 600;
    font-size: 60px;
    margin-left: 48px;
    margin-top: 82px;
    display: flex;
}

.bordainstaleoapp h2 {
    color: #9E9E9E;
    margin-left: 48px;
    font-weight: 400;
    font-size: 30px;
    display: flex;
}

.imgplaystore {
    display: flex;
    margin-top: 53px;
    width: 241px;
    height: auto;
    margin-left: 48px;
    cursor: pointer;
}

.imgapplestore {
    display: flex;
    margin-top: -74px;
    
    width: 241px;
    height: auto;
    margin-left: 307px;
    cursor: pointer;
}
.imgcelular {
    position: absolute;
    margin-top: -390px;
    display: flex;
    margin-left: 900px;
}



.titulo4 h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 448px;
}

.titulo4 h2 {
    color: #9E9E9E;
    font-size: 30px;
    font-weight: 500;
    margin-top: 24px;
    cursor: context-menu;
    text-align: center;
}

.titulo4 .imgescolharapida {
    position: absolute;
    align-items: center;
    margin-left: 174px;
    margin-top: 308px;
    justify-content: space-between;
    
}

.titulo4 .imgcalculadora {
    position: absolute;
    margin-top: 308px;
    margin-left: 664px;
}

.titulo4 .imgcalendario {
    margin-top: 308px;
    margin-left: 1132px;
    width: 140px;
    height: auto;
}

.txttitulo4 h1 {
    font-size: 30px;
    font-weight:bold;
    align-items: center;
    justify-content: space-between;
}

.img1 {
    margin-top: 8px;
    margin-left: 70px;
}

.img2 {
    margin-top: -36px;
    margin-left: 516px;
}

.img3 {
    position: absolute;
    margin-top: -36px;
    margin-left: 1090px;
}

.descimg1 {
    position: absolute;
    margin-top: 8px;
    margin-left: 84px;
    font-weight: 500;
    color: #9E9E9E;
}

.descimg2 {
    position: absolute;
    margin-top: 8px;
    margin-left: 553px;
    font-weight: 500;
    color: #9E9E9E;
    margin-bottom: 100px;
}

.descimg3 {
    position: absolute;
    margin-top: 8px;
    margin-left: 1072px;
    font-weight: 500;
    color: #9E9E9E;
    cursor: context-menu;
    font-size: 25px;
}

.bordapesquisas {
    border: 3px solid #0f5cc2;
    width: 100%;
    height: 654px;
    background-color: #0f5cc2 ;
    margin-top: 448px;
    display: inline-block;
}

.bordapesquisas h1 {
    font-weight: 600;
    font-size: 60px;
    margin-left: 48px;
    margin-top: 82px;
    display: flex;
}

.bordapesquisas h2 { 
    color: #9E9E9E;
    margin-left: 48px;
    font-weight: 400;
    font-size: 30px;
    display: flex;
    margin-top: 20px;
}

.imgqualitativa {
    position: absolute;
    margin-top: -130px;
    display: flex;
    margin-left: 678px;
}

.imgquantitativa {
    position: absolute;
    margin-top: -130px;
    display: flex;
    margin-left: 1054px;
}

.buttonqualitativa {
    position: absolute;
    width: 225px;
    height: 74px;
    margin-left: 676px;
    background-color: #151515;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 25px;
    margin-top: 130px;
    cursor: pointer;
}

.buttonqualitativa:hover {
    background-color: #151515;
}

.buttonquantitativa {
    position: absolute;
    width: 235px;
    height: 74px;
    margin-left: 1054px;
    background-color: #151515;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 25px;
    margin-top: 130px;
    cursor: pointer;
}

.buttonqualitativa,  .buttonquantitativa:hover {
    background-color: #151515;
}
.titulo5 h1 {
    font-size: 40px;
    font-weight: 600;
    margin-left: 476px;
    margin-top: 446px;
}

.blue {
    position: absolute;
    color: #0f5cc2;
    font-size: 40px;
    font-weight: 600;
    margin-left: 892px;
    margin-top: -46px;  
}

.imgtitulo5 img {
    align-items: center;
    gap: 100px;
}

.imgreconhecimento {
    margin-left: 186px;
    margin-top: 220px;
}

.imgaumento {
    margin-left: 327px;
    margin-top: 220px;
}

.imgfeedbacks {
    margin-left: 380px;
    margin-top: 220px;
}

.img4 {
    margin-top: 8px;
    margin-left: 40px;
    font-size: 30px;
}

.img5 {
    margin-top: -36px;
    margin-left: 560px;
    font-size: 30px;
}

.img6 {
    position: absolute;
    margin-top: -36px;
    margin-left: 1050px;
    font-size: 30px;
}

.descimg4 {
    position: absolute;
    margin-top: 8px;
    margin-left: 40px;
    font-weight: 500;
    color: #9E9E9E;
}

.descimg5 {
    position: absolute;
    margin-top: 8px;
    margin-left: 562px;
    font-weight: 500;
    color: #9E9E9E;
}

.descimg6 {
    position: absolute;
    margin-top: 8px;
    margin-left: 1040px;
    font-weight: 500;
    color: #9E9E9E;
    cursor: context-menu;
    font-size: 25px
}

.buttontxt5 {
    margin-top: 200px;
    border-radius: 20px;
    background-color: #0f5cc2;
    border: 3px solid #0f5cc2;
    font-size: 25px;
    font-weight: 500;
    color: white;
    width: 377px;
    height: 76px;
    margin-left: 531px;
}

.fimsite {
    border: 3px solid white;
    width: 100%;
    height: 400px;
    background-color: white ;
    margin-top: 448px;
    display: inline-block;
}

.fimsite h1 {
    font-size: 30px;
    font-weight: 600;
}

.txtredessociais {
    margin-left: 150px;
    margin-top: 70px;
}

.txtingresse {
    text-align: center;
    margin-top: -37px;
}

.txtdownloads {
    margin-top: -37px;
    margin-left: 1088px;
}

.fimsite img {
    margin-top: 82px;
    margin-left: 27px;
    display: inline-block;
    gap: 16px; 
    
}

.fimsite h3 {
    text-align: center;
    color: #2886CA;
}
.Cadastresefimsite {
    margin-top: -90px;
}
.setornefimsite {
    margin-top: 46px;
}
.imgplaystorefimsite {
    position: absolute;
   margin-left: 1053px;
   margin-top: -250px;
}

.imgappstorefimsite {
    position: absolute;
    margin-left: 1070px;
    margin-top: -130px;
    width: 212px;
    height: 88px;
    border-radius: 5px;
}