* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #f1f1f1;
    margin: 0px;
    padding: 0px;
    position: relative; /* Garante que os elementos absolutos dentro do body funcionem */
    font-family: "Inter", sans-serif;
}

nav {
    position: relative;
    margin-top: 20px;
}

.Setorneprofissional, .comofunciona, .entrar, .quemsomos {
    font-size: 20px;
    position: absolute;
    bottom: 120px;
    cursor: pointer;
    transition: transform 0.3s;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.Setorneprofissional {
    margin-left: 458px;
}

.comofunciona {
    margin-left: 764px;
}

.entrar {
    margin-left: 1008px;
}

.quemsomos {
    margin-left: 1148px;
}

.Setorneprofissional:hover, .comofunciona:hover, .entrar:hover, .quemsomos:hover {
    transform: translateY(-10px);
}

ul {
    display: flex;
    list-style: none;
    font-size: 54px;
    color: #0f5cc2;
    font-weight: 500;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
}

a {
    text-decoration: none;
    -webkit-text-fill-color: #0f5cc2;
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
}

nav ul li::after {
    content: "";
    width: 0%;
    height: 4px;
    background-color: #0f5cc2;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

nav ul li:hover {
    color: #0f5cc2;
    transition: 0.7s;
}

nav ul li:hover::after {
    width: 100%;
}

.iconeentrar {
    margin-left: 968px;
    bottom: 105px;
    cursor: pointer;
    transition: transform 2.0s;
    position: relative;
}

.iconeentrar:hover {
    transform: translateY(-10px);
}

.imglogomenu {
    width: 180px;
    height: 95px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.imglogomenu:hover {
    transform: scale(1.2) rotate(5deg);
}

.imglogocabecario {
    margin-left: 8vh;
    margin-top: 216px;
    position: absolute;
    width: 750px;
    height: auto;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.tdtpservico {
    color: black;
    font-family: "Inter", sans-serif;
    margin-left: 750px;
    margin-top: 356px;
    font-size: 40px;
    font-weight: 500;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 1s ease-out forwards;
    transition: transform 0.3s;
    cursor: context-menu;
}

.tdtpservico:hover {
    transform: translateY(-10px);
}

.emumsolugar {
    color: #0f5cc2;
    font-family: "Inter", sans-serif;
    margin-left: 856px;
    top: 408px;
    font-weight: 500;
    font-size: 40px;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 1s ease-out forwards;
    transition: transform 1s;
    cursor: context-menu;
}

.titulo1 {
    color: black;
    font-family: "Inter", sans-serif;
    top:  1016px;
    margin-left: 48px;
    position: absolute;
    font-weight: bold;
    font-size: 60px;
    cursor: context-menu;
}

.subtitulo1 {
    color: #9E9E9E;
    font-size: 30px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    top: 1248px;
    margin-left: 48px;
    position: absolute;
    cursor: context-menu;
}

.imgtitulo1 {
    height: auto;
    top: 1016px;
    margin-left: 740px;
    position: absolute;
}

.botaocadastrar {
    position: absolute;
    background-color: #0f5cc2;
    color: white;
    border: 3px solid #0f5cc2;
    top: 1380px;
    margin-left: 96px;
    border-radius: 20px;
    width: 377px;
    height: 76px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #0c438b;
}

.titulo2 {
    position: absolute;
    top: 1840px;
    margin-left: 426px;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 600;
    cursor: context-menu;
}

/* Animação para deslizamento */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate {
    animation: fadeInUp 0.5s ease-out forwards;
}

.borda1 {
    position: absolute;
    border: 3px solid white;
    top: 1962px;
    background-color: white;
    margin-left: 48px;
    width: 400px;
    height: 426px;
    border-radius: 20px;
}

.imgcomputador {
    
    top: 1962px;
    margin-left: 0%;
    border-radius: 20px, 20px, 0px, 0px;
}

.txtbordas {
    text-align: center;
    margin-top: 13px;
}

.botaobordas {
    margin-top: 32px;
    margin-left: 121px;
    width: 173px;
    height: 36px;
    background-color: #0f5cc2;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    border: 3px solid #0f5cc2;
    font-weight: 500;
    cursor: pointer;
}

.borda2 {
    position: absolute;
    border: 3px solid white;
    top: 1962px;
    background-color: white;
    margin-left: 520px;
    width: 400px;
    height: 426px;
    border-radius: 20px;
}

.imgautomoveis {
    top: 1962px;
    margin-left: 0%;
    border-radius: 20px, 20px, 0px, 0px;
}




.borda3 {
    position: absolute;
    border: 3px solid white;
    top: 1962px;
    background-color: white;
    margin-left: 992px;
    width: 400px;
    height: 426px;
    border-radius: 20px;
}

.imgeletricas {
    
    top: 1962px;
    margin-left: 0%;
    border-radius: 20px, 20px, 0px, 0px;
}
.titulo3 {
    position: absolute;
    top: 2800px;
    margin-left: 48px;
    font-size: 82px;
}

.subtitulo2 {
    color: #9E9E9E;
    font-size: 30px;
    font-weight: 500;
    top: 3008px;
    margin-left: 48px;
    position: absolute;
    cursor: context-menu;
}
.botaosetorneprofissional {
    position: absolute;
    background-color: #0f5cc2;
    color: white;
    border: 3px solid #0f5cc2;
    top: 3164px;
    margin-left: 96px;
    border-radius: 20px;
    width: 377px;
    height: 76px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.imgtitulo3 {
    height: auto;
    top: 2800px;
    margin-left: 740px;
    position: absolute;
}



